        @import 'vars';
        @import 'mixin';
        @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        .droplist {
            height: 132px;
            padding: 39px calc(50% - $widthSite / 2) 0;
            display: flex;
            gap: 30px;
        }
        
        .filter {
            padding-top: 13px;
            width: 360px;
            position: relative;
            z-index: 1;
        }
        
        .filter[open] {
            background-color: #fff;
            box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
        }
        
        .filter_list_content_item {
            margin-top: 16px;
        }
        
        .filter_list_content {
            background-color: #fff;
            padding: 0 16px 16px;
            display: flex;
            flex-direction: column;
            gap: 18px;
        }
        
        .filter_list_title {
            @include type_text();
            color: #000;
            font-weight: 600;
        }
        
        .filter_summary {
            display: flex;
            align-items: center;
            gap: 11px;
            margin-bottom: 16px;
            list-style: none;
        }
        
        .filter_list[open] .filter_list_title {
            color: $colorPinkSite;
        }
        
        .filter_list_title:hover {
            fill: $colorPinkSite;
        }
        
        .filter_list[open] .svgpicture {
            fill: $colorPinkSite;
        }
        
        .filter_summary_item {
            color: $colorPinkSite;
            @include type_text();
            font-weight: 400;
            line-height: 17px;
            padding: 8px 11px 11px 11px;
            border-bottom: 1px solid #ebebeb;
            border-left: 5px solid $colorPinkSite;
            list-style: none;
        }
        
        .filter_box a {
            @include type_text();
            color: #6F6E6E;
            font-weight: 400;
        }
        
        .filter_box {
            display: flex;
            flex-direction: column;
            gap: 11px;
            padding: 24px 16px;
        }
        
        .filter__link {
            &:hover {
                color: $colorPinkSite;
                cursor: pointer;
            }
        }
        
        .sort {
            display: flex;
            justify-content: center;
            padding-top: 12px;
            gap: 27.98px;
            outline: none;
            list-style: none;
            &__details {
                position: relative;
            }
            &__summary {
                display: flex;
                align-items: center;
                gap: 10px;
                list-style: none;
            }
            &__summary::-webkit-details-marker {
                display: none;
            }
            &__heading {
                @include type_text();
                color: #6F6E6E;
                font-weight: 400;
            }
            &__box {
                display: flex;
                flex-direction: column;
                gap: 10px;
                position: absolute;
                left: -9px;
                top: 22px;
                background: #fff;
                box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
                padding: 7px 30px 11px 9px;
                z-index: 1;
            }
            &__check {
                @include type_text();
                display: flex;
                gap: 9px;
                align-items: center;
                color: #6F6E6E;
                font-family: Roboto;
                font-weight: 400;
                line-height: 17px;
            }
        }
        /*Pages*/
        
        .pages {
            display: flex;
            justify-content: center;
        }
        
        .danuas {
            list-style: none;
            display: inline-block;
            padding: 0;
            margin-top: 48px;
            margin-bottom: 96px;
            border: 1px solid #EBEBEB;
        }
        
        .danuas li {
            display: inline;
            text-align: center;
        }
        
        .danuas a {
            float: left;
            display: block;
            color: #EBEBEB;
            @include type_text();
            font-size: 16px;
            text-decoration: none;
            padding: 5px 12px;
            margin-left: -1px;
            line-height: 1.5;
        }
        
        .danuas a.deystvuyus {
            cursor: default;
        }
        
        .danuas a.deystvuyus {
            outline: none;
        }
        
        .perva-peklucatel li:first-child a {
            -moz-border-radius: 1px 0 0 1px;
            -webkit-border-radius: 1px;
            border-radius: 6px 0 0 6px;
        }
        
        .perva-peklucatel li:last-child a {
            -moz-border-radius: 0 1px 1px 0;
            -webkit-border-radius: 0;
            border-radius: 0 1px 1px 0;
        }
        
        .perva-peklucatel a {
            border-color: #d6d4d4;
            color: #C4C4C4;
            background: #fdfbfb;
        }
        
        .perva-peklucatel a:hover {
            background: #eae5e5;
            color: $colorPinkSite;
        }
        
        .perva-peklucatel a.deystvuyus,
        .perva-peklucatel a:deystvuyus {
            border-color: $colorPinkSite;
            background: $colorPinkSite;
            color: #fbf9f9;
        }
        /*End Pages*/
        
        @media screen and (min-width:767px) and (max-width: 1139px) {
            $widthSite: 704px;
            .droplist {
                height: 81px;
                padding: 11px calc(50% - $widthSite / 2) 0;
                justify-content: space-between;
            }
            .sort {
                padding-right: 16px;
            }
            .board30 {
                display: none;
            }
        }
        
        @media screen and (max-width: 767px) and (min-width:350px) {
            $widthSite: 343px;
            .droplist {
                padding: 0 calc(50% - $widthSite / 2);
                gap: 0;
                justify-content: space-between;
            }
            .svgpicture {
                height: 25px;
                width: 37.5px;
            }
            .filter {
                padding-top: 24px;
                &_list_title {
                    display: none;
                }
            }
            .whidt_tr {
                width: 95px;
            }
            .sort {
                padding-top: 26px;
                padding-right: 0;
                padding-left: 0;
                gap: 20px;
                top: 0;
                &__heading {
                    font-size: 12px;
                }
                &__summary {
                    gap: 9px;
                }
            }
        }