* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.background_header_botoom {
  height: 148px;
  background-color: #F8F3F4;
}

.container_vertical {
  display: flex;
  align-items: center;
}

.container_gorisontal {
  display: flex;
  justify-content: center;
}

.background_caruselka_picture {
  background-color: #F7F7F7;
  height: 777px;
}

.caruselka_product_picture {
  margin-bottom: 48px;
}

.header_botoom_link1 {
  color: #636363;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.line_k {
  margin-top: 64px;
}

.header_botoom_link_about {
  color: #636363;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: #F16D7F;
  font-weight: 700;
}

.header_botoom_right {
  color: #636363;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: #F16D7F;
  font-size: 24px;
  font-weight: 400;
}

.description_total_title {
  color: #636363;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: #F16D7F;
}

.line_small {
  margin-top: 12px;
  margin-bottom: 12px;
}

.description_title {
  color: #636363;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: #4D4D4D;
  font-size: 18px;
}

.description_text {
  color: #636363;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: #5E5E5E;
  text-align: center;
  margin-top: 48px;
  margin-bottom: 32px;
  width: 555px;
}

.price {
  color: #636363;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: #F16D7F;
  font-size: 24px;
}

.line_large {
  margin-top: 65px;
  margin-bottom: 65px;
}

.footer__navbar__iconrs {
  width: 70px;
  height: 32px;
  display: flex;
  justify-content: space-between;
  margin-right: 230px;
}

.footer__navbar__iconrs a {
  display: flex;
  font-size: 20px;
  align-items: center;
  justify-content: center;
}

.description_menu {
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 24px;
}

.description_menu a {
  outline: none;
  display: block;
  transition: 0.3s ease-in-out;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.topmenu:after {
  content: "";
  display: table;
  clear: both;
}

.topmenu > li {
  width: 100%;
  float: left;
  position: relative;
  font-family: "Open Sans", sans-serif;
}

.topmenu > li > a {
  color: #636363;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
  color: #6F6E6E;
  font-weight: 400;
  padding: 15px 3px;
  width: 140px;
}

.topmenu li a:hover {
  color: #F16D7F;
}

.submenu-link:after {
  content: "\f107";
  font-family: "FontAwesome";
  color: inherit;
  margin-left: 10px;
}

.submenu {
  background: white;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 5;
  width: 200px;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: 0 0;
  transition: 0.5s ease-in-out;
}

.submenu a {
  color: #636363;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: white;
  text-align: left;
  padding: 12px 15px;
  font-size: 13px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  color: #6F6E6E;
  font-weight: 400;
}

.submenu li:last-child a {
  border-bottom: none;
}

.topmenu > li:hover .submenu {
  opacity: 1;
  transform: scaleY(1);
}

.links {
  color: #636363;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: #F16D7F;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid #F16D7F;
  padding: 15px 39px 14px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.bag {
  padding-right: 22px;
  fill: #EF5B70;
}

.links:hover {
  background-color: #FF6A6A;
  border: 1px solid #FF6A6A;
  color: white;
}

.description_button {
  margin-top: 48px;
  margin-bottom: 65px;
}

.description {
  border: 1px solid white;
  width: 1141px;
  height: 601px;
  margin-top: -50px;
  z-index: 5;
  background-color: #fff;
  margin: 0 auto;
  margin-bottom: 128px;
  margin-top: -50px;
}/*# sourceMappingURL=stylep.css.map */